body {
    background: rgb(122, 122, 242);
    font: normal 16pt Arial; 
}

header {
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px; /*tamanho*/
    width: 500px;
    margin: auto;
    box-shadow: 5px epx 10px rgba(0, 0, 0, 0.395);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}